<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang Chủ</title>
</head>
<body>
<h1>Trang Chủ</h1>
<p>Chào mừng đến với hệ thống quản lý khóa học và sinh viên!</p>

<ul>
    <li><a href="/students">Quản lý Sinh viên</a></li>
    <li><a href="/courses">Quản lý Khóa học</a></li>
</ul>
</body>
</html>
